In [1]:
import pandas as pd
import numpy as np
import requests
import json
from config import api_key

In [2]:
addresses_pd = pd.read_csv("Sunnyvale-houses-addresses.csv")
addresses_pd.head()

                              Addresses
0       920 E Duane Avenue,Sunnyvale,CA
1     1110 Lessing Terrace,Sunnyvale,CA
2   943 La Mesa Terrace #B,Sunnyvale,CA
3   939 La Mesa Terrace #G,Sunnyvale,CA
4  1110 Karby Terrace #304,Sunnyvale,CA

In [3]:
addresses_pd["Lat"] = ""
addresses_pd["Lng"] = ""
addresses_pd.head()

                              Addresses Lat Lng
0       920 E Duane Avenue,Sunnyvale,CA
1     1110 Lessing Terrace,Sunnyvale,CA
2   943 La Mesa Terrace #B,Sunnyvale,CA
3   939 La Mesa Terrace #G,Sunnyvale,CA
4  1110 Karby Terrace #304,Sunnyvale,CA

In [22]:
# create a params dict that will be updated with new city each iteration
params = {"key": "AIzaSyDsXNC_abbqxVhn-Q4J5UscCCaQOqvyIbw"}
address_lat_lng=[]
# Loop through the addresses_pd and run a lat/long search for each city
for index, row in addresses_pd.iterrows():
    base_url = "https://maps.googleapis.com/maps/api/geocode/json"
    params['address'] = row['Addresses']
    
    addresses_lat_lng = requests.get(base_url, params=params)
    addresses_lat_lng = addresses_lat_lng.json()
    
    addresses_pd.loc[index, "Lat"] = addresses_lat_lng["results"][0]["geometry"]["location"]["lat"]
    addresses_pd.loc[index, "Lng"] = addresses_lat_lng["results"][0]["geometry"]["location"]["lng"]

In [23]:
addresses_pd.head()

                              Addresses      Lat      Lng
0       920 E Duane Avenue,Sunnyvale,CA  37.3884 -122.005
1     1110 Lessing Terrace,Sunnyvale,CA  37.3552 -122.029
2   943 La Mesa Terrace #B,Sunnyvale,CA  37.3851 -122.041
3   939 La Mesa Terrace #G,Sunnyvale,CA  37.3849 -122.041
4  1110 Karby Terrace #304,Sunnyvale,CA  37.4048 -122.013